<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="usmattress" translate="label" sortOrder="200">
            <label>USMattress Gallery</label>
        </tab>
        <section id="usmattress_gallery_config" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>USMattress Gallery</label>
            <tab>usmattress</tab>
            <resource>USMattress_Gallery::usmattress_gallery_config</resource>  
            <group id="general" translate="label" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment></comment>
                <field id="enabledisable" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>USMattress\Gallery\Model\Source\Zoom</source_model>
                    <comment></comment>
                </field>
            </group>
        
        </section>
    </system>
</config>
